ul {
  margin-top: 0;
}

.content-container {
  padding-right: 5%;
  padding-top: 5%;
}

.heading-custom {
  margin-left: -4px !important;
}

.menu-link, .menu-link:visited {
  text-decoration: none !important;
  margin-right: 5px !important;
}

.navbar-contact, .navbar-menu {
  min-height: 0 !important;
  padding: 0 !important;
}

.page-wrapper {
  min-height: 100vh;
  padding: 5%;
}

.spotify-player {
  padding-top: 5%;
}