.content-container {
  padding-right: 5%;
  padding-top: 5%;
}

.menu-link, .menu-link:visited {
  text-decoration: none !important;
  margin: 0px 5px !important;
}

.navbar-contact, .navbar-menu {
  min-height: 0 !important;
  padding: 0 !important;
}

.page-wrapper {
  min-height: 100vh;
  padding: 5%;
}