@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.page-wrapper {
  min-height: 100vh;
  padding: 5%;
}

.menu-link, .menu-link:visited {
  color: #fff;
  text-decoration: none !important;
  margin: 0px 5px;
}

.navbar-contact, .navbar-menu {
  min-height: 0 !important;
  padding: 0 !important;
}

.navbar-contact {
  border-bottom: solid 1px #fff;
}

.navbar-menu {
  margin-bottom: 40px;
}